body {
     font-family: "Roboto", sans-serif !important;

     .menu {
          background-color: green;

          li {
               list-style-type: none;
          }

          .menu-item {
               padding: 8px;
               font-size: 18px;
               text-align: center;
               background-color: pink;

               a,
               p {
                    color: white !important;
                    text-decoration: none !important;
               }
          }
     }

     .nav-wrapper {
          a:hover {
               text-decoration: none;
               color: inherit;
          }

          .dropdown-content {
               top: 64px !important;
          }
     }

     .sidenav {
          a:hover {
               text-decoration: none;
               color: inherit;
          }

          @for $i from 0 through 7 {
               #dropdown-resp-#{$i} {
                    top: ($i+1)*48 !important;
               }
          }

          >.title:first-child {
               margin-top: 0 !important;
          }

          .title {
               color: rgba(0, 0, 0, 0.87);
               display: block;
               font-size: 14px;
               font-weight: bold;
               height: 48px;
               line-height: 48px;
               margin-top: 48px;
               padding: 0 32px;
               border-bottom: #CDCDCD 2px solid;
          }
     }

     .side-menu-wrapper {
          background-color: #fafafa;
          height: 100%;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

          .side-menu-item {
               a {
                    display: flex;
                    word-wrap: break-word;
                    text-decoration: none;
               }

               &.active {
                    a {
                         background: rgba(0, 0, 0, 0.1);
                         box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
                    }
               }

               &:hover {
                    background: rgba(0, 0, 0, 0.1);
               }
          }
     }

     #input-wrapper {
          min-height: 215px;
     }

     nav,
     footer {
          background-color: rgb(4, 86, 69) !important;
     }

     .tab {
          >a:hover {
               text-decoration: none;
          }

          &.disabled>a {
               background-color: transparent !important;
          }
     }

     .sidenav {
          scrollbar-width: none !important;
          -ms-overflow-style: none !important;

          &::-webkit-scrollbar {
               width: 0 !important
          }
     }

     i.waves-effect.waves-light.btn.waves-input-wrapper>input {
          line-height: 36px;
          color: white;
     }

     .tabs-content {
          height: 100% !important;
     }

     .datepicker-modal {
          height: auto;
     }

     #cv {
          label {
               font-size: 14.5px;
               color: black;
               font-weight: bold;
          }

          table.table {

               th,
               td {
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
               }
          }
     }
}