<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment(title='Bejelentkezés')"></head>

<body>
	<div th:replace="fragments/header :: menuStructure(menu=${menu}, sideMenu=${sideMenu}, username=${username})"></div>
	<div class="d-flex h-75">
		<div th:if="${sideMenu != null && !sideMenu.isEmpty()}" class="h-100 col-xl-2 col-lg-3 side-menu-wrapper d-none d-lg-block p-0">
			<div th:replace="fragments/sidemenu :: sideMenu(sideMenu=${sideMenu})"></div>
		</div>
		<div id="content" class="col-12" th:attrappend="class=${sideMenu == null || (sideMenu != null && sideMenu.isEmpty())}?' offset-lg-1 col-lg-10':' col-xl-9 col-lg-8'">
			
			<form th:action="@{/login}" method="post">
				<div id="input-wrapper" class="mt-5">
					<div class="form-group input-field">
						<label for="username">Felhasználónév:</label>
						<input type="text" id="username" name="username" autofocus="autofocus" th:attrappend="class=${error != null}?'invalid':''"/>
					</div>
					<div class="form-group input-field">
						<label for="password">Jelszó:</label>
						<input type="password" id="password" name="password" th:attrappend="class=${error != null}?'invalid':''"/>
					</div>
					<div th:if="${error != null}" class="w-100 text-danger">
						Hibás felhasználónév vagy jelszó
					</div>
				</div>
				
				<div class="form-group">
					<input type="submit" value="Bejelentkezés" class="waves-effect waves-light btn" />
					<span>Nem rendelkezel még felhasználóval? <a href="/" th:href="@{/registration}">Regisztráció</a></span>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer :: footerStructure(footerContent=${footerContent})"></div>
</body>

</html>