<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment(title='Regisztráció')"></head>

<body>
	<div th:replace="fragments/header :: menuStructure(menu=${menu}, sideMenu=${sideMenu}, username=${username})"></div>
	<div class="d-flex">
		<div th:if="${sideMenu != null && !sideMenu.isEmpty()}" class="h-100 col-xl-2 col-lg-3 side-menu-wrapper d-none d-lg-block p-0">
			<div th:replace="fragments/sidemenu :: sideMenu(sideMenu=${sideMenu})"></div>
		</div>
		<div id="content" class="col-12" th:attrappend="class=${sideMenu == null || (sideMenu != null && sideMenu.isEmpty())}?' offset-lg-1 col-lg-10':' col-xl-9 col-lg-8'">
			<div th:if="${param.success}">
				<div class="alert alert-info">
					A regisztráció sikeres
				</div>
			</div>

			<h1>Regisztráció</h1>
			<form th:action="@{/registration}" th:object="${user}" method="post">

				<p class="text-danger"
					th:if="${#fields.hasGlobalErrors()}"
					th:each="error : ${#fields.errors('global')}"
					th:text="${error}">Validation error</p>

				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
					<label for="username" class="control-label">Felhasználónév:</label>
					<input id="username"
							class="form-control"
							th:field="*{username}"
							type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('username')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
					<label for="email" class="control-label">E-mail:</label>
					<input id="email"
							class="form-control"
							th:field="*{email}"
							type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('email')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
					<label for="confirmEmail" class="control-label">E-mail megerősítése:</label>
					<input id="confirmEmail"
							class="form-control"
							th:field="*{confirmEmail}"
							type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('confirmEmail')}"
						th:text="${error}">Validation error</p>
				</div>

				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
					<label for="phoneNumber" class="control-label">Telefonszám:</label>
					<input id="phoneNumber"
							class="form-control"
							th:field="*{phoneNumber}"
							type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('phoneNumber')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('placeOfBirth')}? 'has-error':''">
					<label for="placeOfBirth" class="control-label">Születési hely:</label>
					<input id="placeOfBirth"
							class="form-control"
							th:field="*{placeOfBirth}"
							type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('placeOfBirth')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('dateOfBirth')}? 'has-error':''">
					<label for="dateOfBirth" class="control-label">Születési idő:</label>
					<input id="dateOfBirth"
							class="form-control datepicker"
							th:field="*{dateOfBirth}"
							type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('dateOfBirth')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('nationality')}? 'has-error':''">
					<label for="nationality" class="control-label">Állampolgárság:</label>
					<input id="nationality"
							class="form-control"
							th:field="*{nationality}"
							type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('nationality')}"
						th:text="${error}">Validation error</p>
				</div>

				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
					<label for="password" class="control-label">Jelszó:</label>
					<input id="password"
							class="form-control"
							type="password"
							th:field="*{password}"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('password')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field"
						th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
					<label for="confirmPassword" class="control-label">Jelszó megerősítése:</label>
					<input id="confirmPassword"
							class="form-control"
							type="password"
							th:field="*{confirmPassword}"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('confirmPassword')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group"
						th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
					<label class="control-label">
					<input id="terms"
							type="checkbox"
							th:field="*{terms}"/>  
					
						<span>Regisztrációmmal elfogadom a <a href="#">Felhasználási feltételeket</a></span>
					</label>
					<p class="text-danger"
						th:each="error : ${#fields.errors('terms')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field">
					<button type="submit" class="btn btn-success">Regisztráció</button>
					<span>Rendelkezel már felhasználóval? <a href="/" th:href="@{/login}">Bejelentkezés</a></span>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer :: footerStructure(footerContent=${footerContent})"></div>
</body>

</html>