<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment(title='Beállítások')"></head>

<body>
	<div
		th:replace="fragments/header :: menuStructure(menu=${menu}, sideMenu=${sideMenu}, username=${username})">
	</div>
	<div class="d-flex mb-5">
		<div th:if="${sideMenu != null && !sideMenu.isEmpty()}"
			class="h-100 col-xl-2 col-lg-3 side-menu-wrapper d-none d-lg-block p-0">
			<div th:replace="fragments/sidemenu :: sideMenu(sideMenu=${sideMenu})"></div>
		</div>
		<div id="content" class="col-12"
			th:attrappend="class=${sideMenu == null || (sideMenu != null && sideMenu.isEmpty())}?' offset-lg-1 col-lg-10':' col-xl-9 col-lg-8'">
			<div id="cv">
				<h1>Önéletrajz</h1>
				<div id="personal-info">
					<h3><u>Személyes adatok</u></h3>
					<div id="contact" class="d-flex">
						<div id="phone" class="d-flex">
							<i class="material-icons">phone</i>
							<span th:text="${user.phoneNumber}" class="ml-1"></span>
						</div>
						<div id="email" class="ml-4 d-flex">
							<i class="material-icons">mail</i>
							<span th:text="${user.email}" class="ml-1"></span>
						</div>
					</div>
					<div id="birth" class="d-flex mt-4">
						<div id="birth-place-wrapper">
							<label for="place">Születési hely:</label>
							<span th:text="${user.placeOfBirth}" id="birth-place"></span>
						</div>
						<div id="birth-date-wrapper" class="ml-2">
							<label for="date">Születési hely:</label>
							<span th:text="${#dates.format(user.dateOfBirth, 'yyyy.mm.dd')}" id="birth-date"></span>
						</div>
						<div id="nationality-wrapper" class="ml-2">
							<label for="nationality">Születési hely:</label>
							<span th:text="${user.nationality}" id="nationality"></span>
						</div>
					</div>
				</div>

				<div id="studies">
					<h3><u>Tanulmányok</u></h3>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Időszak</th>
								<th scope="col">Elvégzett tanulmány</th>
								<th scope="col">Eredmény</th>
								<th scope="col">Műveletek</th>
							</tr>
						</thead>
						<tbody>
						  	<tr th:each="study :${user.studySet}">
								<th scope="row" th:text="${study.intervall}"></th>
								<td th:text="${study.name}"></td>
								<td th:text="${study.result}"></td>
								<td class="d-flex">
									<a th:href="'settings/study?studyId='+${study.id}"><i class="material-icons right">build</i></a>
									<a th:href="'settings/study/delete?studyId='+${study.id}"><i class="material-icons right">delete</i></a>
								</td>
						  	</tr>
						</tbody>
					</table>
					<a class="waves-effect waves-light btn-small text-white" href="/settings/study">Új tanulmány<i class="material-icons right">add</i></a>
				</div>

				<div id="work">
					<h3><u>Munkák</u></h3>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Időszak</th>
								<th scope="col">Munkahely neve</th>
								<th scope="col">Beosztás</th>
								<th scope="col">Feladatok</th>
								<th scope="col">Műveletek</th>
							</tr>
						</thead>
						<tbody>
						  	<tr th:each="work :${user.workSet}">
								<th scope="row" th:text="${work.intervall}"></th>
								<td th:text="${work.name}"></td>
								<td th:text="${work.position}"></td>
								<td th:text="${work.task}"></td>
								<td class="d-flex">
									<a th:href="'settings/work?studyId='+${work.id}"><i class="material-icons right">build</i></a>
									<a th:href="'settings/work/delete?workId='+${work.id}"><i class="material-icons right">delete</i></a>
								</td>
						  	</tr>
						</tbody>
					</table>
					<a class="waves-effect waves-light btn-small text-white" href="/settings/work">Új tanulmány<i class="material-icons right">add</i></a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footerStructure(footerContent=${footerContent})"></div>
</body>

</html>