<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment(title='Munka')"></head>

<body>
	<div
		th:replace="fragments/header :: menuStructure(menu=${menu}, sideMenu=${sideMenu}, username=${username}, tabs=${tabs})">
	</div>
	<div class="d-flex h-75">
		<div th:if="${sideMenu != null && !sideMenu.isEmpty()}"
			class="h-100 col-xl-2 col-lg-3 side-menu-wrapper d-none d-lg-block p-0">
			<div th:replace="fragments/sidemenu :: sideMenu(sideMenu=${sideMenu})"></div>
		</div>
		<div id="content" class="col-12"
			th:attrappend="class=${sideMenu == null || (sideMenu != null && sideMenu.isEmpty())}?' offset-lg-1 col-lg-10':' col-xl-9 col-lg-8'">
			<h1>Munka</h1>
			<form th:action="@{/settings/work}" th:object="${work}" method="post">
				<p class="text-danger"
					th:if="${#fields.hasGlobalErrors()}"
					th:each="error : ${#fields.errors('global')}"
					th:text="${error}">Validation error</p>

				<input type="hidden" th:field="*{id}">
				<div class="form-group input-field" th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
					<label for="name" class="control-label">Munka neve:</label>
					<input id="name" class="form-control" th:field="*{name}" type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('name')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field" th:classappend="${#fields.hasErrors('startDate')}? 'has-error':''">
					<label for="startDate" class="control-label">Munka kezdete:</label>
					<input id="startDate" class="form-control datepicker" th:field="*{startDate}" type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('startDate')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field" th:classappend="${#fields.hasErrors('endDate')}? 'has-error':''">
					<label for="endDate" class="control-label">Munka vége:</label>
					<input id="endDate" class="form-control datepicker" th:field="*{endDate}" type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('endDate')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field" th:classappend="${#fields.hasErrors('position')}? 'has-error':''">
					<label for="result" class="control-label">Pozíció:</label>
					<input id="result" class="form-control" th:field="*{position}" type="text"/>
					<p class="text-danger"
						th:each="error : ${#fields.errors('position')}"
						th:text="${error}">Validation error</p>
				</div>
				<div class="form-group input-field" th:classappend="${#fields.hasErrors('task')}? 'has-error':''">
					<label for="result" class="control-label">Feladat:</label>
					<!-- <input id="result" class="form-control" th:field="*{task}" /> -->
					<textarea id="result" class="materialize-textarea" th:field="*{task}"></textarea>
					<p class="text-danger"
						th:each="error : ${#fields.errors('task')}"
						th:text="${error}">Validation error</p>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-success"
						th:text="*{id == null ? 'Új munka felvétele' : 'Mentés'}"></button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer :: footerStructure(footerContent=${footerContent})"></div>
</body>

</html>