<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<script type="text/javascript"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<title th:text="${title}"></title>
</head>

<body th:fragment="menuStructure(menu, sideMenu, username)">
	<nav>
		<div class="nav-wrapper">
			<a href="/index" class="brand-logo"><img th:src="@{/image/cv.png}" alt="Logo" height="64px" class="ml-3"></a>
			<a href="/index" data-target="resp-nav" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<ul class="right hide-on-med-and-down">
				<li th:each="menuitem, iStat : ${menu}">
					<a th:href="${menuitem.url}"
						th:attrappend="data-target=${!menuitem.subMenuList.isEmpty()}?'dropdown-desktop-'+ ${iStat.index}, class=${!menuitem.subMenuList.isEmpty()}?dropdown-trigger">
						<span th:text="${menuitem.name}"></span>
						<i class="material-icons right" th:if="${!menuitem.subMenuList.isEmpty()}">arrow_drop_down</i>
					</a>
					<ul th:if="${!menuitem.subMenuList.isEmpty()}" class="dropdown-content"
						th:id="'dropdown-desktop-'+ ${iStat.index}">
						<li th:each="submenuitem : ${menuitem.subMenuList}">
							<a th:href="${submenuitem.url}" th:text="${submenuitem.name}"></a>
						</li>
					</ul>
				</li>
				<li th:if="${username != null && !username.equals('anonymousUser')}">
					<a th:href="@{/logout}"><i class="material-icons">power_settings_new</i></a>
				</li>
				<li th:if="${username != null && username.equals('anonymousUser')}">
					<a th:href="@{/login}"><i class="material-icons">input</i></a>
				</li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="resp-nav">
		<li th:if="${menu != null}" class="title">Menü</li>
		<li th:each="menuitem, iStat : ${menu}">
			<a th:href="${menuitem.url}"
				th:attrappend="data-target=${!menuitem.subMenuList.isEmpty()}?'dropdown-resp-'+ ${iStat.index}, class=${!menuitem.subMenuList.isEmpty()}?dropdown-trigger">
				<span th:text="${menuitem.name}"></span>
				<i class="material-icons right" th:if="${!menuitem.subMenuList.isEmpty()}">arrow_drop_down</i>
			</a>
			<ul th:if="${!menuitem.subMenuList.isEmpty()}" class="dropdown-content"
				th:id="'dropdown-resp-'+ ${iStat.index}">
				<li th:each="submenuitem : ${menuitem.subMenuList}">
					<a th:href="${submenuitem.url}" th:text="${submenuitem.name}"></a>
				</li>
			</ul>
		</li>

		<li th:each="menuitem : ${sideMenu}" class="sidenav-menu">
			<a th:href="${menuitem.url}">
				<span th:text="${menuitem.name}"></span>
			</a>
		</li>
		<li th:if="${username != null && !username.equals('anonymousUser')}" class="pt-5">
			<a th:href="@{/logout}">Kijelentkezés</a>
		</li>
		<li th:if="${username != null && username.equals('anonymousUser')}" class="pt-5">
			<a th:href="@{/login}">Bejelentkezés</a>
		</li>
	</ul>
</body>

</html>