<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
    <ul id="side-menu" th:fragment="sideMenu()">
        <li th:each="sideMenuItem :${sideMenu}" th:attrappend="class=${#httpServletRequest.requestURI.substring(1).equals(sideMenuItem.url)}?' active'" class="side-menu-item">
                <a th:href="${sideMenuItem.url}" th:text="${sideMenuItem.name}" class="px-3 py-3 border"></a>
        </li>
    </ul>
</body>
</html>